* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; /* Плавная прокрутка */
}

body {
  font-family: "Montserrat", sans-serif;
}

/* Основные стили */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.header ul {
  justify-content: center;
  display: flex;
  list-style: none;
  gap: 30px;
}

.header ul li a {
  text-decoration: none;
  color: #333;
  font-size: 24px;
  font-weight: 600;
}

.header ul li a:hover {
  color: #fe0000;
}

#modal-button {
  background: #fe0000;
  width: 270px;
  height: 40px;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

#modal-button:hover {
  background: #ff4d4d;
}

#modal-button:active {
  transform: scale(0.98);
}

.header__user {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 5px;
  font-weight: 500;
}

.header__user_link {
  text-decoration: none;
  color: black;
}

.header__user_link:visited {
  color: black;
  text-decoration: none;
}

.header__logout {
  color: #ff0000;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  border: 1px solid #ff0000;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.header__logout:hover {
  background-color: #ff0000;
  color: #fff;
}

/* Модальное окно */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal__content {
  background: #fff;
  padding: 20px;
  width: 500px;
  border-radius: 8px;
  text-align: center;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.modal__tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.modal__tab {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
}

.modal__tab.active {
  font-weight: bold;
  border-bottom: 2px solid #000;
}

.modal__form {
  display: none;
}

.modal__form.active {
  display: block;
}

.modal__input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal__button {
  padding: 10px 20px;
  background: #fe0000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal__button:hover {
  background: #ff5151;
}

/* Адаптация для планшетов (ширина экрана до 1024px) */
@media (max-width: 1200px) {
  .header {
    padding: 20px 30px;
  }

  .header ul {
    gap: 20px;
  }

  .header ul li a {
    font-size: 20px;
  }

  #modal-button {
    width: 240px;
    font-size: 20px;
  }

  .header__user {
    gap: 8px;
    font-size: 14px;
  }
}

/* Адаптация для мобильных устройств (ширина экрана до 520px) */
@media (max-width: 720px) {
  .header {
    padding: 15px 20px;
  }

  .header ul {
    gap: 15px;
  }

  .header ul li a {
    font-size: 18px;
  }

  #modal-button {
    width: 200px;
    font-size: 18px;
  }

  .header__user {
    gap: 5px;
    font-size: 12px;
  }
}

@media screen and (max-width: 1000px) {
  .header__nav {
    display: none;
  }

  .header__hamburger {
    display: block;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
    position: relative;
    width: 30px;
    height: 30px;
  }

  .header__hamburger span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #333;
    margin: 5px 0;
  }

  .header__nav.active {
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  .header__nav {
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    background: #fff;
    display: none;
    flex-direction: column;
    text-align: center;
  }

  .header__nav ul {
    padding: 0;
    margin: 0;
  }

  .header__nav ul li {
    margin: 10px 0;
  }
}

@media (max-width: 520px) {
  .header ul {
    gap: 10px;
  }

  .header ul li a {
    font-size: 14px;
  }

  .header__logo {
    display: none;
  }

  .header__nav {
    top: 62px;
  }
}

/* Основной стиль для блока hero */
.hero {
  background: url("../img/main_bg.png") no-repeat center center/cover;
}

.hero__content {
  max-width: 1400px;
  margin: 0 auto;
  padding: 200px 300px;
}

.hero__content h1 {
  font-size: 64px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 3px;
}

.hero__content p {
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

.hero__content button {
  display: block;
  margin: 45px auto;
  background: #fe0000;
  width: 270px;
  height: 40px;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.hero__content button:hover {
  background: #ff4d4d;
}

.hero__content button:active {
  transform: scale(0.98);
}

/* Адаптация для планшетов (ширина экрана до 1024px) */
@media (max-width: 1024px) {
  .hero__content {
    padding: 150px 100px; /* Уменьшаем отступы для планшетов */
  }

  .hero__content h1 {
    font-size: 48px; /* Уменьшаем размер заголовка */
    letter-spacing: 2px; /* Уменьшаем расстояние между буквами */
  }

  .hero__content p {
    font-size: 20px; /* Уменьшаем размер текста */
  }

  .hero__content button {
    width: 220px; /* Уменьшаем ширину кнопки */
    height: 45px; /* Уменьшаем высоту кнопки */
    font-size: 20px; /* Уменьшаем размер шрифта на кнопке */
  }
}

/* Адаптация для мобильных устройств (ширина экрана до 520px) */
@media (max-width: 520px) {
  .hero__content {
    padding: 120px 20px; /* Уменьшаем отступы для мобильных устройств */
  }

  .hero__content h1 {
    font-size: 32px; /* Уменьшаем размер заголовка */
    letter-spacing: 1px; /* Уменьшаем расстояние между буквами */
  }

  .hero__content p {
    font-size: 18px; /* Уменьшаем размер текста */
  }

  .hero__content button {
    width: 200px; /* Уменьшаем ширину кнопки */
    height: 40px; /* Уменьшаем высоту кнопки */
    font-size: 18px; /* Уменьшаем размер шрифта на кнопке */
  }
}

.about {
  position: relative;
}

.about__rect {
  position: absolute;
  top: -173px;
  right: -101px;
  z-index: 1;
  width: 190px;
  height: 190px;
  transform: rotate(45deg);
  border: 25px solid #fa6b6b;
}

@media (max-width: 1710px) {
  .about__rect {
    display: none;
  }
}

.about__rect.small {
  left: 0;
  top: 477px;
  width: 100px;
  height: 100px;
  border: 15px solid #fa6b6b;
}

.about__shape {
  position: absolute;
  width: 100%;
  height: 100px; /* Высота красной фигуры */
  background-color: red;
  z-index: 5;
}

.about__shape.top {
  top: 0;
  clip-path: polygon(69% 77%, 0 0, 100% 0);
}

.about__features {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 100px;
  min-height: 600px;
  padding: 160px 10px 0 10px;
  flex-wrap: wrap; /* Чтобы элементы не вылазили за пределы экрана на маленьких устройствах */
}

.about__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.about__card_text {
  background: #242425;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 270px;
  width: 340px;
  padding: 0 10px;
}

/* Для планшетов (ширина экрана до 1024px) */
@media (max-width: 1024px) {
  .about__features {
    gap: 50px; /* Уменьшим расстояние между карточками */
    padding: 100px 10px; /* Уменьшим верхний отступ */
  }

  .about__card_text {
    height: 300px; /* Уменьшим высоту карточек */
    width: 300px; /* Уменьшим ширину карточек */
  }
}

/* Для мобильных устройств (ширина экрана до 768px) */
@media (max-width: 768px) {
  .about__features {
    flex-direction: column; /* Элементы размещаются в столбик */
    gap: 30px; /* Еще меньшее расстояние между карточками */
    padding: 80px 10px; /* Уменьшим отступы */
  }

  .about__card_text {
    height: auto; /* Автоматическая высота */
    width: 100%; /* Растягиваем карточку на всю ширину контейнера */
    padding: 20px; /* Увеличим внутренние отступы */
  }
}

.about__card_text:hover {
  background: #fe0000;
}

.about__card_text h3 {
  font-size: 24px;
  font-weight: 700;
  color: white;
  text-align: center;
  margin-top: 20px;
}

.about__card_text p {
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-align: center;
}

.about__title {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.about__text {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  width: 800px;
  margin: 0 auto;
}

/* Для планшетов (ширина экрана до 1024px) */
@media (max-width: 1024px) {
  .about__title {
    font-size: 32px; /* Уменьшаем размер заголовка */
    margin-bottom: 20px; /* Уменьшаем отступ */
  }

  .about__text {
    font-size: 20px; /* Уменьшаем размер текста */
    width: 600px; /* Сужаем ширину текста */
  }
}

/* Для мобильных устройств (ширина экрана до 768px) */
@media (max-width: 768px) {
  .about__title {
    font-size: 28px; /* Еще меньше заголовок */
    margin-bottom: 15px; /* Еще меньше отступ */
  }

  .about__text {
    font-size: 18px; /* Уменьшаем размер текста */
    width: 100%; /* Растягиваем текст на всю ширину */
    padding: 0 10px; /* Добавляем отступы для читаемости */
  }
}

.about__info {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  gap: 70px;
  padding: 50px 70px;
}

.about__info_text p {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
}

.about__info_text ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about__info_text ul li {
  font-size: 24px;
  font-weight: 500;
  color: #fe0000;
}

@media (max-width: 1200px) {
  .about__info img {
    width: 400px;
    object-fit: cover;
  }
}

/* Для планшетов (ширина экрана до 1024px) */
@media (max-width: 1024px) {
  .about__info {
    justify-content: center;
    align-items: center;
    gap: 40px; /* Уменьшаем расстояние между элементами */
    padding: 40px 50px; /* Уменьшаем отступы */
    flex-wrap: wrap; /* Для переноса блоков на маленьких экранах */
  }

  .about__info_text p {
    font-size: 20px; /* Уменьшаем размер текста */
  }

  .about__info_text ul li {
    font-size: 20px; /* Уменьшаем размер текста списка */
  }
}

/* Для мобильных устройств (ширина экрана до 768px) */
@media (max-width: 768px) {
  .about__info {
    flex-direction: column; /* Размещаем элементы в столбик */
    gap: 30px; /* Уменьшаем расстояние между элементами */
    padding: 30px 20px; /* Еще больше уменьшаем отступы */
  }

  .about__info_text p {
    font-size: 18px; /* Еще меньше текст */
    margin-bottom: 20px; /* Уменьшаем нижний отступ */
  }

  .about__info_text ul li {
    font-size: 18px; /* Еще меньше текст в списке */
  }

  .about__info img {
    width: 100%;
  }
}

.coaches__rect {
  position: absolute;
  top: 627px;
  right: -1px;
  z-index: 1;
  width: 100px;
  height: 100px;
  transform: rotate(50deg);
  border: 15px solid #fa6b6b;
}

@media (max-width: 1400px) {
  .coaches__rect {
    display: none;
  }
}

.coaches {
  margin-top: 50px;
  position: relative;
}

.coaches h2 {
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.coaches__cards {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 50px 0;
  position: relative;
  flex-wrap: wrap; /* Для переноса карточек на маленьких экранах */
}

.coaches__card {
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.coaches__card h3 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #fe0000;
  margin-top: 20px;
}

.coaches__card p {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

/* Для планшетов (ширина экрана до 1024px) */
@media (max-width: 1024px) {
  .coaches h2 {
    font-size: 32px; /* Уменьшаем размер заголовка */
  }

  .coaches__cards {
    gap: 30px; /* Уменьшаем расстояние между карточками */
    padding: 40px 0; /* Уменьшаем отступы */
  }

  .coaches__card {
    width: 450px; /* Сужаем ширину карточек */
  }

  .coaches__card h3 {
    font-size: 22px; /* Уменьшаем размер текста заголовка */
  }

  .coaches__card p {
    font-size: 14px; /* Уменьшаем размер текста описания */
  }
}

/* Для мобильных устройств (ширина экрана до 768px) */
@media (max-width: 768px) {
  .coaches h2 {
    font-size: 28px; /* Еще меньше заголовок */
  }

  .coaches__cards {
    gap: 20px; /* Еще меньше расстояние между карточками */
    padding: 30px 10px; /* Уменьшаем боковые отступы */
  }

  .coaches__card {
    width: 100%; /* Карточки занимают всю ширину */
    padding: 0 10px; /* Добавляем внутренние отступы для читаемости */
  }

  .coaches__card h3 {
    font-size: 20px; /* Уменьшаем размер заголовка */
  }

  .coaches__card p {
    font-size: 14px; /* Текст остается компактным */
  }
}

.founder {
  margin-top: 50px;
}

.founder__rect {
  position: absolute;
  top: -94px;
  right: -501px;
  z-index: 1;
  width: 260px;
  height: 260px;
  transform: rotate(43deg);
  border: 20px solid #fa6b6b;
}

@media (max-width: 1710px) {
  .founder__rect {
    display: none;
  }
}

.founder__rect-left {
  position: absolute;
  top: 65px;
  left: -661px;
  z-index: 1;
  width: 460px;
  height: 460px;
  transform: rotate(43deg);
  border: 30px solid #fa6b6b;
}

.founder__rect-small {
  position: absolute;
  top: 216px;
  right: -231px;
  z-index: 1;
  width: 190px;
  height: 190px;
  transform: rotate(60deg);
  border: 30px solid #fa6b6b;
}

@media (max-width: 1250px) {
  .founder__rect-small {
    display: none;
  }
}

.founder__rect-small-left {
  position: absolute;
  top: 550px;
  left: -221px;
  z-index: 1;
  width: 100px;
  height: 100px;
  transform: rotate(100deg);
  border: 20px solid #fa6b6b;
}

.founder h2 {
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.founder__card {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px 0;
}

.founder__card h3 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #fe0000;
  margin-top: 20px;
}

.founder__card p {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

/* Для планшетов (ширина экрана до 1024px) */
@media (max-width: 1024px) {
  .founder h2 {
    font-size: 32px; /* Уменьшаем размер заголовка */
  }

  .founder__card {
    max-width: 500px; /* Уменьшаем ширину карточки */
    padding: 40px 20px; /* Уменьшаем отступы */
    gap: 15px; /* Уменьшаем расстояние между элементами */
  }

  .founder__card h3 {
    font-size: 22px; /* Уменьшаем размер текста заголовка */
  }

  .founder__card p {
    font-size: 14px; /* Уменьшаем размер текста описания */
  }
}

/* Для мобильных устройств (ширина экрана до 768px) */
@media (max-width: 768px) {
  .founder h2 {
    font-size: 28px; /* Еще меньше заголовок */
  }

  .founder__card {
    max-width: 100%; /* Карточка занимает всю ширину */
    padding: 30px 15px; /* Уменьшаем внутренние отступы */
    gap: 10px; /* Уменьшаем расстояние между элементами */
  }

  .founder__card h3 {
    font-size: 20px; /* Уменьшаем размер заголовка */
  }

  .founder__card p {
    font-size: 14px; /* Текст остается компактным */
  }
}

.schedule {
  margin-top: 50px;
}

.schedule h2 {
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  color: #900905;
}

.schedule__grid {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 0 50px;
  min-height: 600px;
}

.schedule__grid > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fe0000;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.schedule__grid span {
  color: #900905;
}

.schedule__grid_1 {
  grid-area: 1 / 1 / 2 / 2;
}
.schedule__grid_2 {
  grid-area: 2 / 1 / 3 / 2;
}
.schedule__grid_3 {
  grid-area: 3 / 1 / 4 / 2;
}
.schedule__grid_4 {
  grid-area: 1 / 2 / 3 / 3;
}
.schedule__grid_5 {
  grid-area: 3 / 2 / 4 / 3;
}
.schedule__grid_6 {
  grid-area: 1 / 3 / 2 / 4;
}
.schedule__grid_7 {
  grid-area: 2 / 3 / 3 / 4;
}
.schedule__grid_8 {
  grid-area: 3 / 3 / 4 / 4;
}

/* Для планшетов (ширина экрана до 1024px) */
@media (max-width: 1024px) {
  .schedule h2 {
    font-size: 32px; /* Уменьшаем размер заголовка */
    margin-bottom: 20px;
  }

  .schedule__grid {
    grid-template-columns: repeat(2, 1fr); /* Уменьшаем количество колонок */
    grid-template-rows: repeat(4, 1fr); /* Добавляем строки */
    grid-gap: 10px; /* Пространство между элементами */
    padding: 0 30px; /* Уменьшаем отступы */
    min-height: auto; /* Убираем минимальную высоту */
  }

  .schedule img {
    width: 200px;
  }

  .schedule__grid > div {
    font-size: 14px; /* Уменьшаем размер текста */
  }
}

/* Для мобильных устройств (ширина экрана до 768px) */
@media (max-width: 768px) {
  .schedule h2 {
    font-size: 28px; /* Еще меньше заголовок */
    margin-bottom: 15px;
  }

  .schedule__grid {
    grid-template-columns: 1fr; /* Все элементы в одну колонку */
    grid-template-rows: auto; /* Автоматическая высота строк */
    grid-gap: 20px; /* Увеличиваем пространство между карточками */
    padding: 0 20px; /* Уменьшаем боковые отступы */
  }

  .schedule__grid > div {
    font-size: 14px; /* Компактный текст */
    padding: 10px; /* Добавляем отступы для читаемости */
  }

  .schedule__grid > div {
    font-size: 14px; /* Компактный текст */
    padding: 10px; /* Дополнительные отступы для читаемости */
    grid-area: auto;
  }
}

/* Для мобильных устройств (ширина экрана до 520px) */
@media (max-width: 520px) {
  .schedule__grid {
    grid-template-columns: 1fr; /* Все элементы выстраиваются в столбик */
    grid-template-rows: auto;
    grid-gap: 20px; /* Пространство между элементами */
    padding: 0 20px;
  }

  .schedule__grid > div {
    font-size: 14px; /* Компактный текст */
    padding: 10px; /* Дополнительные отступы для читаемости */
    grid-area: auto;
  }
}

.subscription {
  margin-top: 50px;
}

.subscription h2 {
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.subscription__wrapper {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 50px 10px 10px 0;
}

.subscription__wrapper table {
  margin-bottom: 20px;
  width: 100%; /* Таблица растягивается на всю ширину контейнера */
}

.subscription__wrapper thead {
  font-size: 16px;
  font-weight: 500;
  background: #fe0000;
  height: 80px;
  color: white;
}

.subscription__wrapper th {
  padding: 20px;
  min-width: 150px;
}

.subscription__wrapper th:last-child {
  text-align: center;
}

.subscription__subtitle {
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
}

.table__row {
  height: 60px;
}

.table__row:nth-child(odd) {
  background-color: #ffcccb;
}

.table__name {
  padding: 20px;
}

.table__price {
  padding: 20px;
  text-align: center;
}

.table__quantity {
  text-align: center;
}

.subscription__img p {
  width: 580px;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 1200px) {
  .subscription__wrapper {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

/* Для планшетов (ширина экрана до 1024px) */
@media (max-width: 1024px) {
  .subscription h2 {
    font-size: 32px; /* Уменьшаем размер заголовка */
    margin-bottom: 20px;
  }

  .subscription__wrapper {
    flex-direction: column;
    padding: 30px 0;
  }

  .subscription__wrapper table {
    width: 90%; /* Уменьшаем ширину таблицы */
    margin: 0 auto; /* Центрируем таблицу */
  }

  .subscription__img {
    width: 581px;
  }

  .subscription__img p {
    width: 100%; /* Разрешаем картинке занимать всю ширину контейнера */
    font-size: 12px; /* Уменьшаем шрифт */
  }
}

/* Для мобильных устройств (ширина экрана до 520px) */
@media (max-width: 720px) {
  .subscription h2 {
    font-size: 28px; /* Еще меньше размер заголовка */
    margin-bottom: 15px;
  }

  .subscription__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px; /* Добавляем пространство между элементами */
    padding: 20px 0;
  }

  .subscription__wrapper table {
    width: 100%; /* Таблица растягивается на всю ширину */
    margin: 0; /* Убираем дополнительные отступы */
  }

  .subscription__wrapper th {
    font-size: 14px; /* Уменьшаем размер текста в заголовках */
  }

  .subscription__img {
    padding: 0 10px;
    width: 100%;
  }

  .subscription__img img {
    width: 100%;
  }

  .subscription__img p {
    width: 100%;
    font-size: 12px;
    margin-bottom: 5px; /* Уменьшаем отступы */
  }
}

@media (max-width: 550px) {
  .subscription__img {
    padding: 0 10px;
    width: 250px;
  }

  .subscription__img img {
    width: 100%;
  }
}

/* Для мобильных устройств (ширина экрана до 520px) */
@media (max-width: 520px) {
  .subscription__table {
    width: 100%; /* Таблица растягивается на всю ширину */
    border-collapse: collapse; /* Убираем промежутки между ячейками */
  }

  .subscription__table thead {
    display: none; /* Скрываем заголовки таблицы */
  }

  .subscription__table tbody tr {
    display: block;
    margin-bottom: 20px;
    border: 1px solid #ddd; /* Добавляем границу между строками */
  }

  .subscription__table tbody td {
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 14px; /* Уменьшаем размер шрифта для мобильных устройств */
  }

  .subscription__table tbody td::before {
    content: attr(data-label); /* Добавляем метки перед данными */
    font-weight: 600;
    margin-right: 10px;
    text-transform: uppercase;
    color: #fe0000;
  }

  /* Специфические стили для ячеек */
  .table__name,
  .table__quantity,
  .table__price {
    width: 100%; /* Растягиваем ячейки на всю ширину */
  }

  .table__name {
    font-size: 14px;
  }

  .table__row {
    height: auto;
  }

  .table__price {
    text-align: right;
  }

  .table__quantity {
    text-align: left;
  }
}

/* Основные стили для формы */
.form {
  min-height: 810px;
  position: relative;
  padding-top: 50px;
  margin-top: 100px;
}

.form__wrapper {
  position: relative;
  width: 1200px;
  height: 600px;
  margin: 0 auto;
  background: url("../img/record_bg.png");
}

.form__group {
  display: flex;
  justify-content: center;
  gap: 150px;
  margin-bottom: 30px;
}

.form__group input {
  width: 480px;
  height: 64px;
  padding: 20px 50px;
  border: #242425 1px solid;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.form__wrapper form {
  position: relative;
  z-index: 10;
  padding-top: 200px;
}

.form__wrapper button {
  width: 240px;
  height: 50px;
  font-family: "Montserrat", sans-serif;
  background: #fe0000;
  font-size: 24px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  color: white;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

.form__wrapper button:active {
  transform: scale(0.95);
}

.form__img {
  position: absolute;
  bottom: 0px;
  z-index: 6;
}

.form h2 {
  font-size: 32px;
  color: white;
  text-align: center;
  width: 600px;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}

/* Адаптация для планшетов и мобильных устройств */

/* Для планшетов (ширина экрана до 1024px) */
@media (max-width: 1200px) {
  .form__wrapper {
    width: 90%; /* Сужаем ширину контейнера */
    height: 600px; /* Снимаем ограничение по высоте */
    padding: 0 50px;
  }

  .form__wrapper form {
    padding-top: 150px;
  }

  .form__group {
    flex-direction: column; /* Сгруппируем поля формы вертикально */
    gap: 10px; /* Добавим пространство между полями */
  }

  .form__group input {
    width: 100%; /* Растягиваем поля на всю ширину контейнера */
    height: 50px;
    font-size: 14px; /* Уменьшаем шрифт */
    padding: 10px; /* Уменьшаем отступы */
  }

  .form__wrapper button {
    width: 100%; /* Кнопка будет растягиваться на всю ширину */
    height: 50px;
    font-size: 20px; /* Уменьшаем размер шрифта на кнопке */
  }

  .form h2 {
    font-size: 28px; /* Уменьшаем размер заголовка */
    width: 100%; /* Уменьшаем ширину заголовка */
    margin-bottom: 20px; /* Уменьшаем отступ */
  }
}

/* Для мобильных устройств (ширина экрана до 520px) */
@media (max-width: 560px) {
  .form {
    margin-top: 50px; /* Уменьшаем отступ сверху */
    padding-top: 30px; /* Уменьшаем отступ сверху */
  }

  .form__wrapper {
    margin-top: 20px;
    width: 90%; /* Сужаем ширину контейнера */
    height: 600px; /* Снимаем ограничение по высоте */
  }

  .form__group {
    flex-direction: column; /* Сгруппируем поля формы вертикально */
    gap: 20px; /* Добавляем пространство между полями */
  }

  .form__group input {
    width: 100%; /* Растягиваем поля на всю ширину контейнера */
    height: 45px; /* Уменьшаем высоту поля */
    font-size: 12px; /* Уменьшаем шрифт */
    padding: 10px; /* Уменьшаем отступы */
  }

  .form__wrapper button {
    width: 100%; /* Кнопка будет растягиваться на всю ширину */
    height: 45px; /* Уменьшаем высоту кнопки */
    font-size: 18px; /* Уменьшаем размер шрифта на кнопке */
  }

  .form h2 {
    font-size: 24px; /* Уменьшаем размер заголовка */
    margin-bottom: 15px; /* Уменьшаем отступ */
  }

  .form__img {
    display: none; /* Убираем изображение на маленьких экранах */
  }
}

@media (max-width: 400px) {
  .form__wrapper form {
    padding-top: 100px;
  }
}

.red-shape {
  position: absolute;
  width: 100%;
  height: 100px; /* Высота красной фигуры */
  background-color: red;
  z-index: 5;
}

.red-shape.top {
  top: 0;
  clip-path: polygon(32% 0, 100% 43%, 100% 91%, 37% 78%, 0 89%, 0 36%);
}

.red-shape.bottom {
  bottom: 80px;
  clip-path: polygon(61% 21%, 100% 18%, 100% 73%, 69% 100%, 0 61%, 0 9%);
}

.contacts {
  position: relative;
}

/* Основные стили */
.contacts__container {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1400px;
  height: 100%;
  position: absolute;
  z-index: 5;
}

@media (max-width: 1400px) {
  .contacts__container {
    width: 100%; /* Контейнер будет растягиваться на всю ширину экрана */
  }
}

.contacts__wrapper {
  position: absolute;
  top: 50px;
  left: 130px;
  padding: 20px;
  z-index: 10;
  width: 400px;
  height: 200px;
  background: white;
  border: #bababa 1px solid;
}

.contacts__address {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.contacts__address p {
  font-size: 18px;
}

.contacts__tel {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.contacts__tel ul li {
  font-size: 18px;
}

.contacts__tel ul {
  list-style-type: none;
}

.contacts__text {
  padding-left: 30px;
  color: rgb(91, 91, 255);
  font-size: 18px;
}

/* Адаптация для планшетов (ширина экрана до 1024px) */
@media (max-width: 1024px) {
  .contacts__container {
    width: 100%; /* Контейнер растягивается на всю ширину */
    left: 0; /* Выравнивание по левому краю */
    transform: translateX(0); /* Убираем сдвиг */
  }

  .contacts__wrapper {
    width: 90%; /* Сужаем ширину блока с контактами */
    left: 5%; /* Выравниваем с отступом */
    top: 20px; /* Уменьшаем верхний отступ */
    padding: 15px; /* Уменьшаем внутренние отступы */
  }

  .contacts__address p,
  .contacts__tel ul li,
  .contacts__text {
    font-size: 16px; /* Уменьшаем шрифт */
  }
}

/* Адаптация для мобильных устройств (ширина экрана до 520px) */
@media (max-width: 520px) {
  .contacts__container {
    width: 100%; /* Контейнер растягивается на всю ширину */
    left: 0; /* Выравнивание по левому краю */
    transform: translateX(0); /* Убираем сдвиг */
  }

  .contacts__wrapper {
    width: 100%; /* Блок с контактами растягивается на всю ширину */
    left: 0; /* Убираем отступ слева */
    top: 20px; /* Уменьшаем верхний отступ */
    padding: 10px; /* Уменьшаем внутренние отступы */
  }

  .contacts__address,
  .contacts__tel {
    flex-direction: column; /* Выстраиваем элементы в столбик */
    gap: 8px; /* Уменьшаем расстояние между элементами */
  }

  .contacts__address p,
  .contacts__tel ul li,
  .contacts__text {
    font-size: 14px; /* Уменьшаем шрифт для мобильных устройств */
  }
}

/* Основной стиль для футера */
footer {
  background: url("../img/footer_bg.png") no-repeat center / cover;
}

.footer {
  max-width: 1400px;
  min-height: 580px;
  margin: 0 auto;
}

.footer__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 66px;
}

.footer__wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
}

.footer__wrapper ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.copyright {
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 20px;
}

.social__address {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  color: white;
}

.social__address p {
  font-size: 18px;
}

.social__tel {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  color: white;
}

.social__tel ul li {
  font-size: 18px;
}

.social__tel ul {
  list-style-type: none;
}

.social__text {
  padding-left: 30px;
  color: white;
  font-size: 18px;
}

@media (max-width: 1300px) {
  .footer__img {
    width: 390px;
  }
}

/* Адаптация для планшетов (ширина экрана до 1024px) */
@media (max-width: 1024px) {
  .footer__wrapper {
    flex-direction: column;
    gap: 40px; /* Увеличиваем отступы между блоками */
    padding: 30px 20px; /* Добавляем внутренние отступы */
  }

  .footer__wrapper ul {
    align-items: center; /* Выравниваем элементы по центру */
  }

  .footer__wrapper ul li a {
    font-size: 14px; /* Уменьшаем размер шрифта */
  }

  .copyright {
    font-size: 14px; /* Уменьшаем размер шрифта */
  }

  .social__address p,
  .social__tel ul li,
  .social__text {
    font-size: 16px; /* Уменьшаем размер шрифта для мобильных экранов */
  }
}

/* Адаптация для мобильных устройств (ширина экрана до 520px) */
@media (max-width: 520px) {
  .footer__wrapper {
    flex-direction: column;
    gap: 30px; /* Уменьшаем расстояние между элементами */
    padding: 20px 10px; /* Уменьшаем отступы */
  }

  .footer__wrapper ul li a {
    font-size: 12px; /* Уменьшаем шрифт ссылок */
  }

  .copyright {
    font-size: 12px; /* Уменьшаем шрифт для авторского права */
  }

  .social__address p,
  .social__tel ul li,
  .social__text {
    font-size: 14px; /* Уменьшаем шрифт для социальных ссылок */
  }
}

@media (max-width: 410px) {
  .footer__img {
    width: 100%;
  }
}
